### Import Data

In [38]:
import pandas as pd 

credits_df = pd.read_csv('tmdb_5000_credits.csv')
movies_df = pd.read_csv('tmdb_5000_movies.csv')

movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [39]:
movies_df.isna()
movies_df.dropna()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3151130,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755
4781,22000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",https://www.facebook.com/DrySpellMovie,255266,"[{""id"": 13043, ""name"": ""dating""}, {""id"": 15160...",en,Dry Spell,Sasha tries to get her soon-to-be ex husband K...,0.048948,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-02-14,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Getting divorced does funny things to a girl,Dry Spell,6.0,1
4791,13,"[{""id"": 27, ""name"": ""Horror""}]",http://tincanmanthemovie.com/,157185,"[{""id"": 14903, ""name"": ""home invasion""}]",en,Tin Can Man,Recently dumped by his girlfirend for another ...,0.332679,"[{""name"": ""Park Films"", ""id"": 21871}, {""name"":...","[{""iso_3166_1"": ""IE"", ""name"": ""Ireland""}]",2007-01-01,0,84.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Everything You've Heard is True,Tin Can Man,2.0,1
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7

### SQL Database Storage

In [40]:
import sqlite3

conn = sqlite3.connect('movies.db')
cursor = conn.cursor()

movies_df.to_sql('movies', con = conn, if_exists='replace', index=False)
credits_df.to_sql('credits', con = conn, if_exists='replace', index=False)

conn.commit()

In [41]:
movies_db = pd.read_sql_query("Select * FROM movies", conn)
movies_db.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [42]:
credits_db = pd.read_sql_query("Select * FROM credits", conn)
credits_db.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

##### Join tables together SQL

In [43]:
query = '''
    SELECT c.movie_id, m.title, m.overview, m.genres, m.keywords, c.cast, c.crew
    FROM movies m
    INNER JOIN credits c
    ON c.title = m.title
    
'''

joined_db = pd.read_sql_query(query, conn)
joined_db.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [44]:
# Data transform as expected
import json

def load_json_safe(json_str, default_value = None):
    try:
        return json.loads(json_str)
    except (TypeError, json.JSONDecodeError):
        return default_value

### convert json fields to name

In [45]:
joined_db["genres"] = joined_db["genres"].apply(lambda x: [item["name"] for item in json.loads(x)] if pd.notna(x) else None)
joined_db["keywords"] = joined_db["keywords"].apply(lambda x: [item["name"] for item in json.loads(x)] if pd.notna(x) else None)

joined_db["cast"] = joined_db["cast"].apply(lambda x: [item["name"] for item in json.loads(x)][:3] if pd.notna(x) else None)

joined_db["crew"] = joined_db["crew"].apply(lambda x: [crew_member["name"] for crew_member in json.loads(x)] if pd.notna(x) else None)

joined_db["overview"] = joined_db["overview"].apply(lambda x: [x])

joined_db.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[Thomas Newman, Sam Mendes, Anna Pinnock, John..."
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[Hans Zimmer, Charles Roven, Christopher Nolan..."
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Andrew Stanton, Andrew Stanton, John Lasseter..."

In [46]:
def removeSpaces(tag):
    return tag.apply(lambda x: [[item.replace(' ', '') for item in x] if isinstance(x, list) else x])

In [47]:
def removeSpaces(tag):
    return tag.apply(lambda x: [[str(item).replace(' ', '') for item in x] if isinstance(x, list) else x] if x is not None else x)

joined_db['genres'] = removeSpaces(joined_db['genres'])
joined_db['cast'] = removeSpaces(joined_db['cast'])
joined_db['crew'] = removeSpaces(joined_db['crew'])
joined_db['keywords'] = removeSpaces(joined_db['keywords'])
joined_db['overview'] = removeSpaces(joined_db['overview'])

print(joined_db.head(5))

   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                            overview  \
0  [[Inthe22ndcentury,aparaplegicMarineisdispatch...
1  [[CaptainBarbossa,longbelievedtobedead,hascome...
2  [[AcrypticmessagefromBond’spastsendshimonatrai...
3  [[FollowingthedeathofDistrictAttorneyHarveyDen...
4  [[JohnCarterisawar-weary,formermilitarycaptain...

                                           genres  \
0  [[Action, Adventure, Fantasy, ScienceFiction]]
1                  [[Adventure, Fantasy, Action]]
2                    [[Action, Adventure, Crime]]
3              [[Action, Crime, Drama, Thriller]]
4           [[Action, Adventure, ScienceFiction]]

                                            keywords  \
0  [[cultureclash, future, spacewar, spacecolony,...
1  [[ocean, drugabuse, exoticisland, eastindiatra...
2  [[spy, basedonnovel, secretagent, sequel, mi6,...
3  [[dccomics, crimefighter, terrorist, secretide...
4  [[basedonnovel, mars, medallion, spacetravel, ...

                                              cast  \
0  [[SamWorthington, ZoeSaldana, SigourneyWeaver]]
1     [[JohnnyDepp, OrlandoBloom, KeiraKnightley]]
2      [[DanielCraig, ChristophWaltz, LéaSeydoux]]
3      [[ChristianBale, MichaelCaine, GaryOldman]]
4    [[TaylorKitsch, LynnCollins, SamanthaMorton]]

                                                crew
0  [[StephenE.Rivkin, RickCarter, ChristopherBoye...
1  [[DariuszWolski, GoreVerbinski, JerryBruckheim...
2  [[ThomasNewman, SamMendes, AnnaPinnock, JohnLo...
3  [[HansZimmer, CharlesRoven, ChristopherNolan, ...
4  [[AndrewStanton, AndrewStanton, JohnLasseter, ...

### Add Tag Field

In [48]:

def combineList(df):
    combined = joined_db['crew'] + joined_db['genres'] + joined_db['keywords'] + joined_db['cast'] 
    return combined

print(combineList(joined_db))

joined_db['tags'] = combineList(joined_db)

# Set display options to see all values in one row
#pd.set_option('display.max_colwidth', None)

print(joined_db['tags'][10])

0       [[StephenE.Rivkin, RickCarter, ChristopherBoye...
1       [[DariuszWolski, GoreVerbinski, JerryBruckheim...
2       [[ThomasNewman, SamMendes, AnnaPinnock, JohnLo...
3       [[HansZimmer, CharlesRoven, ChristopherNolan, ...
4       [[AndrewStanton, AndrewStanton, JohnLasseter, ...
                              ...
4804    [[RobertRodriguez, RobertRodriguez, RobertRodr...
4805    [[EdwardBurns, EdwardBurns, EdwardBurns, Willi...
4806    [[CarlaHetland, HarveyKahn, AdamSliwinski, Mar...
4807    [[DanielHsia, DanielHsia], [], [], [DanielHenn...
4808    [[ClarkPeterson, AndrewReimer, BrianHerzlinger...
Length: 4809, dtype: object
[['RogerMussenden', 'JonPeters', 'DianeMacke', 'GilbertAdler', 'BryanSinger', 'BryanSinger', 'BryanSinger', 'JohnOttman', 'JohnOttman', 'NewtonThomasSigel', 'MichaelDougherty', 'MichaelDougherty', 'JerrySiegel', 'JoeShuster', 'ChrisLee', 'ThomasTull', 'WilliamFay', 'ElliotGraham', 'ScottMednick', 'AnnRobinson', 'DanHarris', 'DanHarris', 'StephenJones', 'GuyHendrixDyas'], ['Adventure', 'Fantasy', 'Action', 'ScienceFiction'], ['savingtheworld', 'dccomics', 'invulnerability', 'sequel', 'superhero', 'basedoncomicbook', 'kryptonite', 'superpowers', 'superhumanstrength', 'lexluthor'], ['BrandonRouth', 'KevinSpacey', 'KateBosworth']]

In [49]:
joined_db.columns

Index(['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew',
       'tags'],
      dtype='object')

### Build KNN Model

#### Vectorize Tags

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Convert list of tags to a single string
joined_db['tags'] = joined_db['tags'].apply(lambda x: ' '.join(map(str, x)) if isinstance(x, list) else '')

Tfidf = TfidfVectorizer(stop_words='english')
tags_matrix = Tfidf.fit_transform(joined_db['tags'])

print(tags_matrix)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 197463 stored elements and shape (4809, 68339)>
  Coords	Values
  (0, 60380)	0.06067172976829242
  (0, 54140)	0.06067172976829242
  (0, 53869)	0.059550102986817004
  (0, 11391)	0.11080877257381655
  (0, 40266)	0.05360611228247266
  (0, 28116)	0.050063588964395306
  (0, 27965)	0.3133569509518336
  (0, 2790)	0.06067172976829242
  (0, 30571)	0.0725164047557246
  (0, 40850)	0.05416637711062129
  (0, 35824)	0.06195410199777605
  (0, 16900)	0.06195410199777605
  (0, 58336)	0.0590378882386375
  (0, 16421)	0.058553374651446874
  (0, 28472)	0.059550102986817004
  (0, 16110)	0.0590378882386375
  (0, 32853)	0.07509441541762404
  (0, 57746)	0.06128999686005995
  (0, 36215)	0.13776580560799076
  (0, 53516)	0.059550102986817004
  (0, 43158)	0.06067172976829242
  (0, 36887)	0.06630489214209595
  (0, 43145)	0.06888290280399538
  (0, 55829)	0.06888290280399538
  (0, 43026)	0.06067172976829242
  :	:
  (4806, 25308)	0.20464195034126031
  (4806, 421)	0.20464195034126031
  (4806, 41911)	0.40928390068252063
  (4806, 31331)	0.20464195034126031
  (4806, 58245)	0.20464195034126031
  (4806, 53152)	0.20464195034126031
  (4806, 38662)	0.20464195034126031
  (4806, 51669)	0.20464195034126031
  (4806, 13366)	0.20464195034126031
  (4807, 14052)	0.3724322075462953
  (4807, 6279)	0.31468709239983617
  (4807, 14059)	0.780905261684991
  (4807, 19053)	0.3904526308424955
  (4808, 48153)	0.19081795041875382
  (4808, 17972)	0.20464501546036037
  (4808, 13344)	0.22883744430472105
  (4808, 17213)	0.15785166487981278
  (4808, 8693)	0.23752172023671447
  (4808, 17962)	0.2773733062314904
  (4808, 2838)	0.26785100904315307
  (4808, 12829)	0.26046494152366567
  (4808, 11997)	0.2773733062314904
  (4808, 32822)	0.26785100904315307
  (4808, 7714)	0.5815884606602084
  (4808, 7582)	0.2907942303301042

#### Cosine Similarity

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tags_matrix)
# print(cosine_sim)

In [54]:
from sklearn.neighbors import NearestNeighbors

knn = NearestNeighbors(n_neighbors = 6, algorithm ="brute", metric="cosine")
knn.fit(tags_matrix)

def get_movie_recommendations(movie_title):
    movie_index = joined_db[joined_db["title"] == movie_title].index[0]
    distances, indices = knn.kneighbors(tags_matrix[movie_index])
    similar_movies = [(joined_db["title"][i], distances[0][j]) for j, i in enumerate(indices[0])]
    return similar_movies[1:]

input_movie = "Avatar"
recommendations = get_movie_recommendations(input_movie)
print("Film recommendations '{}'".format(input_movie))
for movie, distance in recommendations:
    print("- Film: {}".format(movie))

Film recommendations 'Avatar'
- Film: True Lies
- Film: Titanic
- Film: Aliens
- Film: Terminator 2: Judgment Day
- Film: The Adventures of Tintin

In [55]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

# Reduce the dimensionality of the TF-IDF matrix to 2 components using PCA
pca = PCA(n_components=2)
reduced_matrix = pca.fit_transform(tags_matrix.toarray())  # Convert sparse matrix to dense

# Plot the results
plt.figure(figsize=(10, 8))
plt.scatter(reduced_matrix[:, 0], reduced_matrix[:, 1], alpha=0.7)

# Optionally, label the points by their index
for i in range(100):
    plt.text(reduced_matrix[i, 0], reduced_matrix[i, 1], str(i), fontsize=12)

plt.title('PCA Plot of Movies Based on Cosine Similarity')
plt.xlabel('PCA Component 1')
plt.ylabel('PCA Component 2')
plt.show()

: